@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 1rem;
  font-family: Roboto;
}
.account {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.account-menu {
  width: 360px;
  margin-right: 2rem;
  font-family: "HelveticaNeue";
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.account-content {
  width: 100%;
}

.custom-cardContent {
  background-color: #f1f5f5;
  height: 100%;
  padding-left: 3rem;
  padding-top: 2.5rem;
  width: 251px;
  padding-bottom: none;
}
.custom-cardContent ul li {
  cursor: pointer;
  padding-bottom: 1.5rem;
  color: #323232;
}
.custom-cardContent ul li:hover {
  color: #111;
}

.card-heading {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
  font-family: "arial";
  color: #444;
}
.table-heading {
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #222;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

table td {
  padding: 0.75rem !important;
}
table th {
  color: #7d7d7d;
  text-align: left;
  padding: 0.75rem;
}
.custom-table tbody tr td {
  cursor: pointer;
  vertical-align: middle;
}

.custom-table tbody tr:hover {
  background-color: #f1f5f5;
}
.load-more {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.btn_1 {
  background: #e94e1e;
  display: inline-block;
  text-decoration: none;
  padding: 8px 25px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 3px;
}
